extends basicSite.pug

block jscript

  link(rel='stylesheet' href='/css/leaflet.css' )
  script(src='/js/leaflet.js')


  style.
    #map{height:45vh; width:100%;}

block content2
  .box
    input.button(type='button' value ='Update!' onClick="updateMap()")
    p#lat= lat 
    p#lon= lon
    p#hiddenArray(hidden)= hiddenText
  .box#MapBox
  script(type='text/javascript').
    var marker 
    var map
    var polyline
    var ar = [];
    const tablename ="test2"

    var fullURL = window.location.href;
    protocoll = fullURL.substring(0, fullURL.indexOf("/") - 1);
    fullURL = fullURL.substring(fullURL.indexOf("/") + 2);
    var partUrl = fullURL.substring(0, fullURL.indexOf("/"));
    ip = partUrl.substring(0, partUrl.indexOf(":"));
    port = partUrl.substring(partUrl.indexOf(":") + 1);

    async function updateMap(){

      const fetchUrl = ""
      const url = `${protocoll}://${ip}:${port}/ISS-now`
      const resp = await fetch(url);
      if (!resp.ok) throw new Error(resp.statusText);
      const data = await resp.json();
      console.log(data);
      var lat =data.lat
      var lon =data.lon
      marker.setLatLng([lat,lon]);

      ar.push([lat,lon]);
      //polyline.setLatLngs(ar)
      var x = L.polyline([ar[ar.length-2],ar[ar.length-1]]).addTo(map);
    }

    var greenIcon = L.icon({
      iconUrl: 'iss-icon.png',
      //https://openclipart.org/detail/196091/satellite-icon
      iconSize:     [30, 30], // size of the icon
      iconAnchor:   [15,15], // point of the icon which will correspond to marker's location
    });

    function setMap() {
      const lat = document.getElementById("lat").textContent
      const lon = document.getElementById("lon").textContent
    document.getElementById("MapBox").innerHTML = '<div id="map"></div>';
    map = L.map("map").setView([0, 0], 1);

    L.tileLayer("https://{s}.tile.osm.org/{z}/{x}/{y}.png", {
      attribution:
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      worldCopyJump: true,
    }).addTo(map);
    marker = L.marker([lat, lon], {icon: greenIcon}).addTo(map);
    polyline = L.polyline(ar).addTo(map);
    //console.log(document.getElementById("MapBox"))
    }
    setMap();

    setInterval(function() {
      console.log("Updated Map")
      updateMap();
    }, 6000);

    function testy(){
      var hiddenText = document.getElementById("hiddenArray").innerHTML
      ar = [];
      var lines = hiddenText.split('\n');
      for(var i = 0;i < lines.length-1;i++){
        var latindex = lines[i].indexOf("lat")
        var lonindex = lines[i].indexOf("lon")
        var xindex = lines[i].indexOf("}")

        var lat = lines[i].substring(latindex+5, lonindex-2)
        var lon = lines[i].substring(lonindex+5, xindex)
        ar.push([lat, lon])
      }

      //
      for (let i = 1; i < ar.length; i++) {

        //Differenz zwischen letztem und vorletztem punkt
        const diff = (ar[i-1][1] - ar[i][1]);
        var oldar = [...ar[i-1]];
        oldar[1]= +oldar[1]+360
        var newar = [...ar[i]];
        newar[1]= +newar[1]+360

        var oldar2 = [...ar[i-1]];
        oldar2[1]= +oldar2[1]-360
        var newar2 = [...ar[i]];
        newar2[1]= +newar2[1]-360

        if(diff<0 && diff>-50){
          var x = L.polyline([ar[i-1],ar[i]]).addTo(map);
          var y = L.polyline([oldar,newar]).addTo(map);
          var y = L.polyline([oldar2,newar2]).addTo(map);

        } else {
          var z = L.polyline([ar[i-1],newar]).addTo(map);
          var z = L.polyline([oldar2,ar[i]]).addTo(map);
        }
      }
    }
    testy()








